header.debug{
    height: 80px;
    background-color: rgb(43, 62, 80);
}

.debug.jumbotron{
    height: 500px;
    background-color: rgb(24, 188, 155);
}

.portfolio{
    height: 150px;
    border: solid black 1px;
}

.mrg-top-20{
    margin-top: 20px;
}

.mrg-btm-40{
    margin-bottom: 40px;
}

.row.about{
    height: 600px;
    background-color: rgb(24, 188, 155)
}

.row.contact{
    height: 600px;
    border: solid black 1px;
}

.footer-top.debug{
    height: 500px;
    background-color: rgb(58, 84, 109);
}

.footer-bottom.debug{
    height: 100px;
    background-color: rgb(43, 62, 80);
}