header.debug{
    height: 80px;
    background-color: rgb(43, 62, 80);
}

.debug.jumbotron{
    height: 500px;
    background-color: rgb(24, 188, 155);
}

.portfolio{
    height: 150px;
    border: solid black 1px;
}

.img{
    height: 300px;
}

.img-1{
    background-color: rgb(186, 75, 99);
}

.img-2{
    background-color: rgb(31, 164, 182);
}

.img-3{
    background-color: rgb(20, 15, 15);
}

.img-4{
    background-color: rgb(28, 131, 193);
}

.img-5{
    background-color: rgb(14, 56, 181);
}

.img-6{
    background-color: rgb(204, 178, 163);
}

.mrg-top-20{
    margin-top: 20px;
}

.mrg-btm-40{
    margin-bottom: 40px;
}

.row.about{
    height: 600px;
    background-color: rgb(24, 188, 155)
}

.row.contact{
    height: 600px;
    border: solid black 1px;
}

.footer-top.debug{
    height: 500px;
    background-color: rgb(58, 84, 109);
}

.footer-bottom.debug{
    height: 100px;
    background-color: rgb(43, 62, 80);
}