.ms_bkg_header{
    background-color: rgb(43, 62, 80);
}

.jumbotron{
    padding-top: 130px;  
}

.ms_bkg_jumbo{
    background-color: rgb(24, 188, 155);
}

.ms_line{
    width: 100px;
    height: 3px;
    background-color: white;
}

.ms_line_2{
    width: 100px;
    height: 3px;
    background-color: black;
}

.about{
    background-color: rgb(24, 188, 155);
}

.footer-top{
    background-color: rgb(58, 84, 109);
}

.footer-bottom{
    background-color: rgb(43, 62, 80);
}

.copyright{
    font-size: 12px;
}

.ms_icon{
    width: 70%;
    margin: auto;
}

.ms_social{
    height: 50px;
    width: 50px;
    border: solid white 1px;
}

.fa-facebook-f, .fa-google-plus-g, .bi-twitter, .fa-linkedin-in{
    line-height: 50px;
}